@import 'bootstrap/dist/css/bootstrap.min.css';
@import 'react-modal-video/scss/modal-video.scss';
@import 'slick-carousel/slick/slick.css';
@import 'react-toastify/dist/ReactToastify.css';
@import '../../public/assets/fonts/satoshi/css/satoshi.css';
@import '../../public/assets/fonts/clash-display/css/clash-display.css';
@import '../../public/assets/fonts/magnita/magnita.css';
@import '../../public/assets/fonts/bootstrap-icons/font.css';
@import '../../public/assets/scss/style.scss';
@import '../styles/skeleton.scss';
@import '../styles/responsive.scss';
@import '../styles/accessibility.scss';

// Piano chord animations
@keyframes pulse {
  0%, 100% {
    opacity: 1;
    transform: scale(1);
  }
  50% {
    opacity: 0.8;
    transform: scale(1.05);
  }
}